@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/********************/
/* header and title */
/********************/

/* header {
  background-color: lightgray;
} */

.play-till {
  width: 3rem;
  border-radius: 3px;
  text-align: center;

}

header h1 {
  padding: 14px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px lightgray;
  max-width: 300px;
}

/********************/
/****** RULES *******/
/* *****************/


#title-rules{
  border:none;
  font-weight:bold;
  padding:8px;
  font-size:1.3rem;
  text-transform: uppercase;
}



/**************************/
/******* PLAYERS PANELS ***/
/**************************/


.player-1-panel , .player-0-panel {
 
    padding:20px 5px;
    text-align:center;
    font-size:1.3rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .player-total-box {
    background-color: blue;
    color: whitesmoke;
  }
  
  
  .img-player {
    width: 300px;
  }
  
  @media screen and (max-width: 640px) {
    .img-player {
      width:65px;
    }
  }
  
  
  /********************/
  /*MAIN BUTTONS BLOCK*/
  /********************/
  
  
  .dice {
    width: 80px;
  }
  
  @media screen and (max-width: 640px) {
    .dice {
      width: 60px;
    }
  }
  
  @media screen and (max-width: 640px) {
    .buttons-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  
  .global-player-0 {
    background-color: #E50316;
  }
  
  .global-player-1 {
    background-color:#37AF00;
  }
  
  

