@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/********************/
/* header and title */
/********************/

/* header {
  background-color: lightgray;
} */

.play-till {
  width: 3rem;
  border-radius: 3px;
  text-align: center;

}

header h1 {
  padding: 14px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px lightgray;
  max-width: 300px;
}

/********************/
/****** RULES *******/
/* *****************/


#title-rules{
  border:none;
  font-weight:bold;
  padding:8px;
  font-size:1.3rem;
  text-transform: uppercase;
}



/**************************/
/******* PLAYERS PANELS ***/
/**************************/


.player-1-panel , .player-0-panel {
 
  padding:20px 5px;
  text-align:center;
  font-size:1.3rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.player-total-box {
  background-color: blue;
  color: whitesmoke;
}


.img-player {
  width: 300px;
}

@media screen and (max-width: 640px) {
  .img-player {
    width:65px;
  }
}


/********************/
/*MAIN BUTTONS BLOCK*/
/********************/


.dice {
  width: 80px;
}

@media screen and (max-width: 640px) {
  .dice {
    width: 60px;
  }
}

@media screen and (max-width: 640px) {
  .buttons-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.global-player-0 {
  background-color: #E50316;
}

.global-player-1 {
  background-color:#37AF00;
}



/*****************/
/* BLOCK BUTTONS STYLE */
/*****************/


.btn-roll {
  padding: 0.5rem 1.2rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  text-transform: uppercase;
  color: white;
  background-color: #3498db;
  border: none;
  cursor: pointer;
  box-shadow: 0 9px #2980b9;
}

.btn-roll:hover {
  transform: translateY(3px);
  box-shadow: 0 6px #2980b9;
}

.btn-roll:active {
  transform: translateY(7px);
  box-shadow: 0 2px #3498db;
}

.btn-hold {
  padding: 0.5rem 1.2rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  text-transform: uppercase;
  color: white;
  background-color: #e74c3c;
  border: none;
  cursor: pointer;
  box-shadow: 0 9px #c0392b;
}

.btn-hold:hover {
  transform: translateY(3px);
  box-shadow: 0 6px #c0392b;
}

.btn-hold:active {
  transform: translateY(7px);
  box-shadow: 0 2px #e74c3c;
}


/* BUTTON NEW GAME */


.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

  
  
